<?xml version="1.0"?>
<!--
/**
 * @author Rebus
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="rebus_plannercart" frontName="rebusplanner">
            <module name="Rebus_PlannerCart" />
        </route>
    </router>
</config>